<div class="startpage d-flex flex-column align-items-center w-100">
  <%= form_tag '/login', class: 'd-flex flex-column align-items-center w-100' do %>   
    <%= label_tag :name, nil, class: 'text-field-label' %>   
    <%= text_field_tag :name, nil, class: 'text-field rounded-pill mb-5' %>   
    <%= submit_tag 'Login', class: 'welcome-buttons rounded-pill' %>
  <%end%>
</div>