<div class="card text-center mx-auto">
  <div class="card-body">
    <h1 class="card-title">Login</h1>   
    <%= form_tag '/login' do %>   
      <%= label_tag :name%>   
      <%= text_field_tag :name, "", class: 'my-3' %>   
      <%= submit_tag 'Login', class: 'btn btn-primary'%>
    <%end%>
  </div>
</div>