<div class="startpage">
      <%= form_for @user, :html => {:class => 'd-flex flex-column align-items-center'} do |f|%>  
      <%= f.label :name, nil, class: 'text-field-label' %><br>  
      <%= f.text_field :name, class: 'text-field rounded-pill mb-5' %><br>   
      <%= f.submit 'Sign Up', class: 'welcome-buttons rounded-pill' %>
    <%end%>
</div>