// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.group-header {
  border-bottom: 3px solid grey;
}

#group_image {
  font-size: 3rem;
  width: 85%;
}

.image-field {
  font-size: 4rem;
  text-align: center;
  width: 100%;
  height: 13rem;
}

.group-show-icon {
  object-fit: cover;
  height: 250px;
  width: 250px;
  margin-right: 30px;
}

.group-show-header {
  padding: 40px;
  flex-shrink: -1;
}

.group-show-header-name {
  font-size: 5.5rem;
}

.group-show-header-info {
  text-align: right;
}

.group-show-header-info-field {
  font-size: 2.8rem;
}


