// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.transaction-sum-section {
  font-size: 3.5rem;
  height: 10rem;
}

.total-sum {
  font-size: 3.5rem;
}
