<div class="main-page bg-grey">
  <div class="trans-container">
    <% @owntransactions.each do |transaction| %>
      <% if transaction.groups.empty?%>
      <div class="single-trans-container bg-white grey d-flex">
        <img class="icon" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a325e722353999.5631184951d59.jpg" alt="">
        <div class="single-trans-container-info d-flex flex-column justify-content-between w-100">
          <div class="single-trans-container-info-up d-flex justify-content-between">
            <div class="trans-name"><%= transaction.name %></div>
            <div class="trans-amount"><%= eurofy(transaction.amount) %></div>
          </div>
          <div class="single-trans-container-info-down">
            <div class="trans-date"><%= transaction.date %></div>
          </div>
        </div>
      </div>  
      <% end %>
    <% end %>
  </div>
</div>