<div class="main-page bg-grey">
  <div class="trans-container">
    <% @owntransactions.each do |transaction| %>
      <div class="single-trans-container bg-white grey d-flex">
        <%= trans_img_attached?(transaction) %>
        <div class="single-trans-container-info d-flex flex-column justify-content-between w-100">
          <div class="single-trans-container-info-up d-flex justify-content-between">
            <div class="trans-name"><%= transaction.name %></div>
            <div class="trans-amount"><%= eurofy(transaction.amount) %></div>
          </div>
          <div class="single-trans-container-info-down">
            <div class="trans-date"><%= transaction.date %></div>
          </div>
        </div>
      </div>  
    <% end %>
  </div>
</div>