<div class="header">
  <%= render 'layouts/nav' %>

  <h2 class="nav-header">Ext. Transactions</h2>

  <div class="transaction-sum-section d-flex justify-content-between align-items-center grey bg-white px-5">
    <p class="total-sum">Total Sum:</p>
    <div class="total-sum-amount"><%= eurofy(total_external_transaction_sum) %></div>
  </div>
  <div class="border w-100"></div>
</div>

<%= render 'ext-main-page'%>

<%= link_to new_transaction_path, :action => 'go' do %>
<div class="footer d-flex justify-content-center align-items-center">
  <p class="small-footer d-flex justify-content-center align-items-center text-white rounded w-100 h-100">New Transaction</p>
</div>
<% end %>
